#!/bin/sh

ulimit -n 1000000

exec 2>&1
export GOMAXPROCS=<%= node["cpu"]["total"] %>
exec chpst -u <%= node["prometheus"]["user"] %> <%= node["prometheus"]["binary"] %> \
<% if Gem::Version.new(node["prometheus"]["version"]) >= Gem::Version.new("2.0.0") -%>
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "prometheus") %>
<% else -%>
  <%= Gitlab::Prometheus.flags_for(node, "prometheus") %>
<% end -%>
